---
import '../styles/global.css'

import MainLayout from '../layouts/MainLayout.astro'
import Navigation from '../layouts/Navigation.astro'
import NumbersHomeSection from '../layouts/NumbersHomeSection.astro';
import TextImageSection from '../layouts/TextImageSection.astro'
import Footer from '../layouts/Footer.astro'
import CtaDemo from '../layouts/CtaDemo.astro'


import HomeHero from '../components/HomeHero.astro'
import InfoCard from '../components/InfoCard.astro'
import RatingCard from '../components/RatingCard.astro'
import Button from '../components/Button.astro'
import ProductCard from '../components/ProductCard.astro'
import Comparison from '../components/Comparison.astro'
import WebinarCta from '../components/WebinarCta.astro'
import CtaItem from '../components/CtaItem.astro'

import productCardsData from '../data/productCards';
import comparisonsData from '../data/comparisonsData';
import testimonialsData from '../data/testimonialsData';
import webinarsData from '../data/webinarsData';
---
      <MainLayout >
         <Navigation /> 
         <HomeHero />
         
         <NumbersHomeSection 
            title="CISOs e equipes de segurança cibernética em mais de 60 países confiam no senhasegura." 
         />

         <TextImageSection
            sectionClass="quadrant-leader-section"
            sectionTitle="The Worlds #1 All-In-One PAM Solution"
            imgAlign="right">
            
            <div class="img-wrapper-quadrant-home" slot="image">
              <a href="/pt-br/demo" class="link-quadrant-home w-inline-block">
              <img sizes="(max-width: 479px) 100vw, (max-width: 767px) 77vw, (max-width: 991px) 79vw, (max-width: 1279px) 36vw, (max-width: 1439px) 38vw, (max-width: 1919px) 39vw, 499.5px" srcset="https://cdn.prod.website-files.com/6531856af18f18cb20cfa436/66bb857b7e9ad17a87caae2c_PAM%202024%20DQuadrant-p-500.png 500w, https://cdn.prod.website-files.com/6531856af18f18cb20cfa436/66bb857b7e9ad17a87caae2c_PAM%202024%20DQuadrant-p-800.png 800w, https://cdn.prod.website-files.com/6531856af18f18cb20cfa436/66bb857b7e9ad17a87caae2c_PAM%202024%20DQuadrant.png 944w" alt="Dashboard mockup" src="https://cdn.prod.website-files.com/6531856af18f18cb20cfa436/66bb857b7e9ad17a87caae2c_PAM%202024%20DQuadrant.png" loading="lazy" class="uui-layout06_image-2 shadow-xlarge"/>
              </a>
              <Button href="/pt-br/empresa/conquistas" text="See What Sets Us Apart" />
           </div>

            <div class="uui-layout06_content-2" slot="content">
               <div class="div-block-144">
                  <div class="w-layout-grid grid-reports-achievements-small">
                     <RatingCard 
                        href='/pt-br/empresa/conquistas' 
                        img="https://cdn.prod.website-files.com/6531856af18f18cb20cfa436/6671da47718e68e0c2203aab_GPI-CC-2024-color.png"
                        width={80}
                        >
                        <strong class="bold-text-142">4.9 out of 5 rating in Gartner’s Peer Insights Voice of the Customer for PAM</strong>
                     </RatingCard>
                     <RatingCard 
                        href='/pt-br/empresa/conquistas' 
                        img="https://cdn.prod.website-files.com/6531856af18f18cb20cfa436/658b246becda37b4e0d83cb7_Info-Tech-Research-Group-logo.avif"
                        width={100}
                        >
                        <h4>Info-Tech Research Group Software Reviews <strong>Gold Medal Winner &amp; Top Choice</strong></h4>
                     </RatingCard>
                     <RatingCard 
                        href='/pt-br/empresa/conquistas' 
                        img="https://cdn.prod.website-files.com/6531856af18f18cb20cfa436/655f62c1132e090381c944df_senhasegura-challenger-gartner-magic-quadrant-2021.png"
                        width={100}>
                        <h4>
                              <strong class="bold-text-141">Gartner Magic Quadrant for Privileged Access Management </strong>
                              <strong>Challenger</strong>
                           </h4>
                     </RatingCard>
                     <RatingCard 
                        href='/pt-br/empresa/conquistas' 
                        img="https://cdn.prod.website-files.com/6531856af18f18cb20cfa436/65674dbbe88920c03440f9bc_logo_frost-sullivan.avif"
                        width={250}
                        >
                        <h4>Frost &amp; Sullivan Best Practices <strong>Customer Value Leadership Award</strong></h4>
                     </RatingCard>
                     <RatingCard 
                        href='/pt-br/empresa/conquistas' 
                        img="https://cdn.prod.website-files.com/6531856af18f18cb20cfa436/65b3c647b329b571e66b64de_KuppingerCole_Logo_Privacy_Preference_Center.avif"
                        width={200}
                        >
                           <h4>
                              <strong>Overall Leader in PAM</strong>
                              <strong class="bold-text-141"> by KuppingerCole Leadership Compass Report for PAM</strong>
                           </h4>
                     </RatingCard>
                     <RatingCard 
                        href='/pt-br/empresa/conquistas' 
                        img="https://cdn.prod.website-files.com/6531856af18f18cb20cfa436/655f5e265bacd2a3cd624eed_logo-isg%20(1).avif"
                        width={100}
                        >
                           <h4>
                              <strong class="bold-text-141">ISG Provider Lens Quadrant Report for Cybersecurity Solutions </strong>
                              <strong>Leader</strong>
                           </h4>
                     </RatingCard>
                  </div>
               </div>
            </div>
         </TextImageSection>


         <div class="products-grid-home">
            <div class="spark-container-69 w-container">
               
               <TextImageSection
                  sectionClass="_360-platform-container-flex spark-5-spacing"
                  imgAlign="right">

                  <div class="_360-text-content" slot="content">
                     <a href="/pt-br/360-privilege-platform" class="link-block-29 w-inline-block">
                        <h2 class="uui-heading-medium-17">Plataforma Privilege 360°</h2>
                     </a>
                     <div class="paragraph-quadrant">A nossa solução prioriza a efetividade da sua estratégia de segurança digital e gestão de identidades.<br/>
                        <br/>Nosso portfólio traz módulos fáceis de integrar e pensados para aumentar a maturidade de cibersegurança da sua organização. Assim, você protege identidades humanas e de máquinas de forma eficiente.<br/>
                        <br/>Tudo isso com o melhor suporte ao cliente. Tudo rápido, com custos mínimos e com foco no que sua organização precisa.
                     </div>
                     <div class="flex-row-header spark-left-aligned">
                        <a href="/pt-br/demo" class="btn-larajnjaoficial w-button">Veja uma demo</a>
                        <a href="/pt-br/fale-com-vendas" class="btn-contact w-button">Fale com vendas</a>
                     </div>
                  </div>
                  <a href="/pt-br/produtos" class="link-home-products w-inline-block" slot="image">
                     <img src="https://cdn.prod.website-files.com/6531856af18f18cb20cfa436/65804e4f9f4f2f0db05ddad9_360%20platform%20senhasegura.webp" loading="lazy" width="Auto" alt="" class="img-pam-360"/>
                  </a>

               </TextImageSection>

               <div class="products-column-grid-home">
               {productCardsData.map(product => (
                     <ProductCard 
                        href={product.href}
                        title={product.title}
                        text={product.text}
                        btnText={product.btnText}/>
                  ))}
                  
               </div>
            </div>
         </div>


          <TextImageSection
            id="comparison"
            sectionClass="comparision-sectionoficial"
            imgAlign="right">
               <div slot='content' class="uui-layout06_content-2">
                  <h3>Compare o senhasegura com outras plataformas líderes no mercado</h3>
                  <div class="kc-comment-text-p">“O senhasegura agora tem uma proposta de PAM mais poderosa, com usabilidade aprimorada e visão de futuro sobre as necessidades dos desenvolvedores e como o PAM se encaixa nos ambientes de Infraestrutura como Código (IaC).”</div>
                  <div class="texto-menor">
                     <span class="text-span-96">– KuppingerCole 2023 Leadership Compass:</span> Privileged Access Management
                  </div>
                  <div class="uui-button-row-5 is-reverse-mobile-landscape">
                     <div class="uui-button-wrapper-4 max-width-full-mobile-landscape">
                        <a href="/pt-br/demo" class="btn-larajnjaoficial w-inline-block">
                           <div>Explore a solução</div>
                        </a>
                     </div>
                     <div class="uui-button-wrapper-4 max-width-full-mobile-landscape">
                        <a href="/pt-br/empresa/precos" class="btn-pricing w-inline-block">
                           <div class="text-block-162">Veja preços</div>
                        </a>
                     </div>
                  </div>
               </div>
               <img slot="image" loading="lazy" src="https://cdn.prod.website-files.com/6531856af18f18cb20cfa436/657ca0dfa7b754b5dab08292_comparativo-senhasegura-outras-solucoes-8.png" alt="" class="senhasegura-comparision-table"/>

         </TextImageSection>
         
         <section class="competitors-section w-container">
            <div class="w-layout-blockcontainer competitors-container w-container">
               <div class="btns-flex-column">   
                  {comparisonsData.map(comparison => (
                     <Comparison href={comparison.href} competitor={comparison.competitor} />
                     ))}
               </div>
            </div>
         </section>
         <TextImageSection
            id="comparison"
            sectionClass="market-copy"
            imgAlign="right">
               <div slot="content" class="uui-layout06_content-2">
                  <div class="div-block-112">
                     <img width="140" alt="Gartner Peer Insights logo." src="https://cdn.prod.website-files.com/6531856af18f18cb20cfa436/655f5bfc0a04e9aa2981e573_gartner-peer-insights-logo.png" loading="lazy" srcset="https://cdn.prod.website-files.com/6531856af18f18cb20cfa436/655f5bfc0a04e9aa2981e573_gartner-peer-insights-logo-p-500.png 500w, https://cdn.prod.website-files.com/6531856af18f18cb20cfa436/655f5bfc0a04e9aa2981e573_gartner-peer-insights-logo.png 907w" sizes="(max-width: 479px) 100vw, 140px" class="image-54"/>
                  </div>
                  <h3 class="uui-heading-medium-17">Melhor suporte e maior satisfação do cliente do mercado</h3>
                  <div class="paragraph-quadrant">Somente o senhasegura tem um índice de satisfação do cliente de 5 estrelas e uma taxa de referência de 98%.</div>
                  <div class="uui-button-row-5 is-reverse-mobile-landscape">
                     <div class="uui-button-wrapper-4 max-width-full-mobile-landscape">
                        <a href="/pt-br/demo" class="btn-larajnjaoficial w-inline-block">
                           <div>Veja em ação</div>
                        </a>
                     </div>
                  </div>
               </div>

               <img slot="image" id="w-node-_364bd04a-9c3d-539a-4486-d5369a0d9e12-29cb972b" loading="lazy" alt="" src="https://cdn.prod.website-files.com/6531856af18f18cb20cfa436/657ca0c6062489559d7246d2_senhasegura-concorrentes-compara%C3%A7ao-8.png" class="image-55"/>
         </TextImageSection>


         <div class="customer-testimonials">
            <div class="spark-container-9 w-container">
               <div class="testimonials-block">
                  {testimonialsData.map(testimonial => {
                    let stars = Array.from({ length: testimonial.stars }).map((_, i) => (
                      <img 
                        src="https://cdn.prod.website-files.com/6531856af18f18cb20cfa436/657ba983af0a1830efb72a6e_Ativo%201.svg" 
                        loading="lazy" 
                        width="20" 
                        alt="A star icon." 
                        class="star" 
                      />
                    ));

                    return (
                      <div class="block-testimonials-home">
                        <div class="uui-testimonial13_rating-wrapper">
                          {stars}
                        </div>
                        <div class="uui-heading-xxsmall-3 text-weight-medium">{testimonial.title}</div>
                        <div class="testimonial-text-p">{testimonial.description}</div>
                        <div class="testimonial-text-client-tag">{testimonial.person}</div>
                      </div>
                    );
                  })}
               </div>
            </div>
            <div class="div-more-reviews">
               <a id="w-node-_8b99b834-5be5-1dcf-53a7-fbbeb4d72207-b4d721d8" href="/pt-br/empresa/por-que-senhasegura" class="btn-read-more-reviews w-inline-block">
                  <div class="text-block-162">Descubra nossos benefícios</div>
               </a>
            </div>
         </div>
         <div class="home-blog-bar-section-light">
            <div class="home-blog-container w-container">
               <div class="home-blog-flex-content">
                  <div class="home-blog-clm1">
                     <div class="home-blog-text-p">Confira o novo blog de Cibersegurança e Gestão de Risco da senhasegura.</div>
                  </div>
                  <a href="/pt-br/blog" class="home-blog-link w-inline-block">
                     <div class="text-block-329">Explore agora »</div>
                  </a>
               </div>
            </div>
         </div>
         <div class="webinars-section">
            <div class="brix---container-default-19 w-container">
               <div class="brix---mg-bottom-48px-5">
                  <div data-w-id="639d5aa6-1a5c-0731-9db0-048b94262c86" style="-webkit-transform:translate3d(0, 10%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 10%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 10%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 10%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" class="brix---inner-container-600px---center">
                     <div class="brix---text-center-10">
                        <div class="brix---mg-bottom-12px">
                           <div class="brix---color-neutral-832-copy">
                              <h2 class="home-h2-text">senhasegura Webinars</h2>
                           </div>
                        </div>
                        <div class="brix---color-neutral-867">
                           <p class="brix---paragraph-default-28">Descubra tendências de cibersegurança com nossos especialistas. </p>
                        </div>
                     </div>
                  </div>
               </div>
               <div data-w-id="639d5aa6-1a5c-0731-9db0-048b94262c8f" style="-webkit-transform:translate3d(0, 10%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 10%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 10%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 10%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" class="w-layout-grid brix---3-columns-1-col-tablet">
                  {webinarsData.map(webinar => (
                        <WebinarCta 
                           href={webinar.href} 
                           tag={webinar.tag} 
                           title={webinar.title}
                           excerpt={webinar.excerpt}
                           avatars={webinar.avatars} />
                     ))}
               </div>
            </div>
         </div>
         <CtaDemo>
            <h2 class="uui-heading-medium-17">Agende uma Demonstração</h2>
            <div class="paragraph-quadrant-demo">Descubra o poder da segurança de identidade e veja como ela pode aprimorar a segurança e a resiliência cibernética da sua organização.<br/>
               <br/>Agende uma demonstração ou uma reunião com nossos especialistas hoje mesmo.
            </div>
         </CtaDemo>
         <Footer /> 
      </MainLayout> 
